@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: #0f172a;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

main{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

h1{
    font-family: 'Bungee';
}